{% extends 'notes/base.html' %}

{% block content %}

<section class="container about">

    <h1>About MyNotes</h1>

    <p>
        MyNotes is a simple online notes management platform
        developed using Python and Django.
    </p>

    <p>
        Students can upload and access educational notes
        in PDF, image and text formats.
    </p>

    <h2>Our Goal</h2>

    <p>
        Our goal is to make study material easier to store,
        organize and access.
    </p>

</section>

{% endblock %}
