{% extends 'notes/base.html' %}

{% block content %}

<section class="form-container">

    <h1>Upload Your Notes</h1>

    <p>
        Upload your notes in PDF, image or text format.
    </p>

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="btn"
        >
            Upload Note
        </button>

    </form>

</section>

{% endblock %}
